# begin control deployment hosts

# InstanceID sl-database01-control 184.173.98.194 10.60.66.130
Host         database01.control
HostKeyAlias database01.control
Hostname     184.173.98.194

# InstanceID sl-database02-control 184.173.231.4 10.48.127.198
Host         database02.control
HostKeyAlias database02.control
Hostname     184.173.231.4

# InstanceID sl-database03-control 184.173.98.201 10.60.66.144
Host         database03.control
HostKeyAlias database03.control
Hostname     184.173.98.201

# InstanceID sl-database04-control 184.173.231.11 10.48.127.212
Host         database04.control
HostKeyAlias database04.control
Hostname     184.173.231.11

# InstanceID sl-database05-control 173.193.172.36 10.80.81.70
Host         database05.control
HostKeyAlias database05.control
Hostname     173.193.172.36
IdentityFile staging/root

# InstanceID sl-database06-control 184.173.231.4 10.48.127.198
Host         database06.control
HostKeyAlias database06.control
Hostname     184.173.231.4
IdentityFile staging/root

Host         10.80.81.70
User         root
IdentityFile staging/root

Host         10.48.127.198
User         root
IdentityFile staging/root

# InstanceID sl-filecontent01-control 184.173.98.197 10.60.66.136
Host         filecontent01.control
HostKeyAlias filecontent01.control
Hostname     184.173.98.197

# InstanceID sl-filecontent02-control 173.193.172.37 10.80.81.72
Host         filecontent02.control
HostKeyAlias filecontent02.control
Hostname     173.193.172.37

# InstanceID sl-frontend10-control 184.173.98.195 10.60.66.132
Host         frontend10.control
HostKeyAlias frontend10.control
Hostname     184.173.98.195

# InstanceID sl-frontend11-control 184.173.98.196 10.60.66.134
Host         frontend11.control
HostKeyAlias frontend11.control
Hostname     184.173.98.196

# InstanceID sl-frontend12-control 184.173.98.200 10.60.66.142
Host         frontend12.control
HostKeyAlias frontend12.control
Hostname     184.173.98.200


# InstanceID sl-frontend20-control 184.173.231.2 10.48.127.194
Host         frontend20.control
HostKeyAlias frontend20.control
Hostname     184.173.231.2

# InstanceID sl-frontend21-control 184.173.231.3 10.48.127.196
Host         frontend21.control
HostKeyAlias frontend21.control
Hostname     184.173.231.3

# InstanceID sl-frontend22-control 184.173.231.5 10.48.127.200
Host         frontend22.control
HostKeyAlias frontend22.control
Hostname     184.173.231.5

# InstanceID i-2b736848 ec2-174-129-136-0.compute-1.amazonaws.com ip-10-212-65-174.ec2.internal
Host         frontend99.control
HostKeyAlias frontend99.control
Hostname     ec2-174-129-136-0.compute-1.amazonaws.com

# InstanceID i-48a8d135 ec2-174-129-244-184.compute-1.amazonaws.com ip-10-36-159-41.ec2.internal
Host         monitoring02.control
HostKeyAlias monitoring02.control
Hostname     174.129.244.184

# InstanceID sl-operation01-control 184.173.98.199 10.60.66.140
Host         operation01.control
HostKeyAlias operation01.control
Hostname     184.173.98.199

# InstanceID sl-placement01-control 184.173.98.198 10.60.66.138
Host         placement01.control
HostKeyAlias placement01.control
Hostname     184.173.98.198

# InstanceID sl-placement02-control 184.173.231.10 10.48.127.210
Host         placement02.control
HostKeyAlias placement02.control
Hostname     184.173.231.10

# end control deployment hosts
# begin staging deployment hosts

# InstanceID i-c2fa59a6 ec2-174-129-220-99.compute-1.amazonaws.com ip-10-34-95-152.ec2.internal
Host         database01.staging
HostKeyAlias database01.staging
Hostname     174.129.220.99

# InstanceID i-2cb86756 ec2-23-21-141-173.compute-1.amazonaws.com ip-10-85-14-79.ec2.internal
Host         database02.staging
HostKeyAlias database02.staging
Hostname     23.21.141.173

# InstanceID i-ad80b4c8 ec2-23-23-120-16.compute-1.amazonaws.com ip-10-164-43-185.ec2.internal
Host         database03.staging
HostKeyAlias database03.staging
Hostname     23.23.120.16

# InstanceID i-f19d1d96 ec2-54-227-238-206.compute-1.amazonaws.com ip-10-113-51-138.ec2.internal
Host         database04.staging
HostKeyAlias database04.staging
Hostname     54.227.238.206

# InstanceID i-e2b6b699 ec2-75-101-185-213.compute-1.amazonaws.com ip-10-166-57-246.ec2.internal
Host         filecontent01.staging
HostKeyAlias filecontent01.staging
Hostname     ec2-75-101-185-213.compute-1.amazonaws.com

# InstanceID i-e896168c ec2-54-221-226-43.compute-1.amazonaws.com ip-10-204-59-173.ec2.internal
Host         frontend01.staging
HostKeyAlias frontend01.staging
Hostname     54.221.226.43

# InstanceID i-245f6742 ec2-184-73-236-115.compute-1.amazonaws.com ip-10-145-182-53.ec2.internal
Host         frontend03.staging
HostKeyAlias frontend03.staging
Hostname     184.73.236.115

# InstanceID i-b08caacb ec2-184-73-124-227.compute-1.amazonaws.com ip-10-154-131-185.ec2.internal
Host         node09.staging
HostKeyAlias node09.staging
Hostname     ec2-184-73-124-227.compute-1.amazonaws.com

# InstanceID i-1441e672 ec2-184-72-164-139.compute-1.amazonaws.com ip-10-62-67-236.ec2.internal
Host         node10.staging
HostKeyAlias node10.staging
Hostname     ec2-184-72-164-139.compute-1.amazonaws.com

# InstanceID i-b6cf4ccb ec2-54-226-19-106.compute-1.amazonaws.com ip-10-185-29-200.ec2.internal
Host         node11.staging
HostKeyAlias node11.staging
Hostname     ec2-54-226-19-106.compute-1.amazonaws.com

# InstanceID i-3411cc52 ec2-50-19-5-149.compute-1.amazonaws.com ip-10-147-194-133.ec2.internal
Host         node12.staging
HostKeyAlias node12.staging
Hostname     ec2-50-19-5-149.compute-1.amazonaws.com

# InstanceID i-3f1c2045 ec2-54-205-233-63.compute-1.amazonaws.com ip-10-166-45-137.ec2.internal
Host         operation01.staging
HostKeyAlias operation01.staging
Hostname     ec2-54-205-233-63.compute-1.amazonaws.com

# InstanceID i-04458379 ec2-54-221-225-167.compute-1.amazonaws.com ip-10-184-11-17.ec2.internal
Host         placement01.staging
HostKeyAlias placement01.staging
Hostname     54.221.225.167

# InstanceID i-c3ce90bb ec2-54-227-238-251.compute-1.amazonaws.com ip-10-60-95-0.ec2.internal
Host         placement02.staging
HostKeyAlias placement02.staging
Hostname     54.227.238.251

# end staging deployment hosts
# begin development deployment hosts

# end development deployment hosts
# defaults
Host                   *
SendEnv                LANG_LC_*
ServerAliveInterval    30
HashKnownHosts         yes
ForwardAgent           yes
StrictHostKeyChecking  no
User Bassam

# OPS-Support Internal Web Portal
Host         support-tools
HostKeyAlias support-tools
Hostname     10.0.0.9
User         root
IdentityFile ~/.ssh/config

